.filters {
    font-size: 20px;
}

.filters .filter {
    margin: 3px;
    padding: 3px 7px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters .selected {
    border: 1px solid transparent;
}

.filters .not-selected {
    color: black;
    border: 1px solid;
    border-color: rgba(175, 47, 47, 0.2);
    cursor: pointer;
}

.filters .not-selected:hover {
    border-color: rgba(175, 47, 47, 0.2);
}